* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'myfont';
    src: url(fonts/Raleway-SemiBold.ttf);
    font-style: normal;
}

body {
    background: url(images/contact-background.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.contactForm {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 600px;
    max-width: 100%;
    overflow: hidden;
}

.contact-title {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.contact-title h2 {
    margin: 0;
    font-family: myfont;
}

.contactForm {
    padding: 30px 40px;
}

.inputBox {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.inputBox label {
    display: inline-block;
    font-family: myfont;
    margin-bottom: 5px;
}

.inputBox .input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.inputBox i {
    visibility: hidden;
    position: absolute;
    top: 37px;
    right: 10px;
}

.inputBox small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

form p {
    font-family: myfont;
}

form p a {
    color: #111;
}

form p a:hover {
    color: black;
}

.inputBoxBtn {
    background-color: #078bb8;
    border: 2px solid #07779c;
    color: #fff;
    display: block;
    padding: 10px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    transition: 400ms;
}

.inputBoxBtn:hover {
    background-color: #035975;
    border: 2px solid #056383;
    letter-spacing: 1px;
    transition: 400ms;
}